/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    background-image: radial-gradient(circle at 2px 2px, #222 1px, transparent 0);
    background-size: 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

/* Arena */
.arena {
    height: 90%;
    width: 90%;
    max-width: 1650px;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    background-image: url(../assets/backgrounds/fosa-del-juicio.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.game-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5rem;
    margin: 0;
    color: #fff;
    letter-spacing: 8px;
    text-shadow: 6px 6px 0px #555;
}

/***************************/
/**** BATTLE ANNOUNCER *****/
/***************************/

.battle-announcer {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    background: rgba(12, 12, 12, 0.9);
    border: 2px solid #3d3d3d;
    padding: 10px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.turn-box {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #ffcc00;
    margin-bottom: 8px;
    text-shadow: 2px 2px 0px #000;
}

/* Clase para el turno del enemigo */
.turn-box.enemy-turn {
    color: #e74c3c;
}

.timer-container {
    width: 100%;
    height: 12px;
    background: #0a0a0a;
    border: 1px solid #444;
    position: relative;
    overflow: hidden;
}

.timer-progress {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8a1308, #e74c3c);
    transition: width 1s linear, background 0.3s;
}


.timer-warning {
    background: linear-gradient(to right, #ff0000, #ff5555);
    box-shadow: 0 0 10px #ff0000;
}

#timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    pointer-events: none;
}


/***************************/
/******** PLAYER HUD *******/
/***************************/


.player-hud {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;
    background-color: #0c0c0c;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
    user-select: none;
}

.panel {
    background: #1a1a1a;
    border: 2px solid #3d3d3d;
    box-shadow: inset 0 0 10px #000;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.portrait-container {
    text-align: center;
    margin-right: 15px;
}

.portrait {
    width: 64px;
    height: 64px;
    border: 2px solid #4a4a4a;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estadísticas y Barras */
.stats-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.character-name {
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.stat-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-weight: bold;
    font-size: 12px;
    width: 25px;
}

.hp-label {
    color: #e74c3c;
}

.bar-container {
    width: 160px;
    height: 16px;
    background: #0a0a0a;
    border: 1px solid #444;
    position: relative;
    box-shadow: inset 0 0 5px #000;
}

.bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
}

.bar-text {
    position: absolute;
    left: 32%;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    text-shadow: 1px 1px 2px #000;
}

.hp-bar {
    background: linear-gradient(to bottom, #c0392b, #8a1308);
}

/* Panel de Acciones */
.actions-panel {
    gap: 20px;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s;
}

.action-item:hover {
    transform: translateY(-2px);
}

.icon-box {
    width: 50px;
    height: 50px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}

.icon {
    font-size: 24px;
}

.action-name {
    font-size: 11px;
    font-weight: bold;
    color: #bbb;
    letter-spacing: 1px;
}

/* Bordes específicos para las acciones */
.attack-border {
    border: 2px solid #7a6a2a;
}

.defend-border {
    border: 2px solid #2a4a7a;
}

.skill-border {
    border: 2px solid #7a2a2a;
}

/***************************/
/******** ENEMY HUD ********/
/***************************/

.enemy-hud {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
    background-color: #0c0c0c;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
    user-select: none;
}


/***************************/
/**** FIGHTERS CONTAINER ***/
/***************************/
.fighters {
    position: absolute;
    bottom: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Cada combatiente */
.fighter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.stats {
    text-align: center;
    color: rgb(255, 255, 255);
}

/***************************/
/********* POP UPS *********/
/***************************/

.battle-popup {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    z-index: 200;
    text-shadow: 3px 3px 0px #000;
    white-space: nowrap;
}

.show-battle-msg {
    animation: floatAndFade 1s ease-out forwards;
}

.pop-hit {
    color: #e6a801;
}

.pop-weak {
    color: #118a8a
}

.pop-critical {
    color: #d80808;
    font-size: 20px;
}

.pop-blocked {
    color: #2265e2;
}

/* Animación de desplazamiento y desvanecimiento */
@keyframes floatAndFade {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px) scale(0.8);
    }

    20% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1.1);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -40px) scale(1);
    }
}




/*******************************/
/********PLAYER SPRITE *********/
/*******************************/

#player-sprite {
    width: 96px;
    /* ancho de 1 frame */
    height: 84px;
    /* alto de 1 frame */
    background-image: url("../assets/knight/IDLE.png");
    background-size: 672px 84px;
    transform: scale(3);
    background-position: 0 0;
}

/* Clase idle */
#player-sprite.idle {
    animation: idleAnim 0.6s steps(7) infinite;
}

@keyframes idleAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}

/* Clase attack */
#player-sprite.attack {
    background-image: url("../assets/knight/ATTACK-3.png");
    animation: attackAnim 0.6s steps(6);
}

@keyframes attackAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}


/* Clase Slash attack */

#player-sprite.slashAttack {
    background-image: url("../assets/knight/ATTACK-1.png");
    animation:
        slashAttackAnim 0.6s steps(6) infinite;
}

@keyframes slashAttackAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}


/* Clase Blocked */

#player-sprite.block {
    background-image: url("../assets/knight/DEFEND.png");
    animation:
        blockAnim 0.6s steps(6) infinite;
}

@keyframes blockAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}


/* Clase hurt */

#player-sprite.hurt {
    background-image: url("../assets/knight/HURT.png");
    animation: hurtAnim 0.5s steps(4) infinite;
    background-size: 384px 84px;
}

@keyframes hurtAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -384px;
    }
}

/*Clase death */

#player-sprite.death {
    background-image: url("../assets/knight/DEATH.png");
    animation: deathAnim 1s steps(11) forwards;
    background-size: 1152px 84px;
}

@keyframes deathAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1056px;
    }
}




/* Controles */
.controls {
    text-align: center;
}

/*******************************/
/********* ENEMY SPRITE ********/
/*******************************/

#enemy-sprite {
    width: 96px;
    /* ancho de 1 frame */
    height: 84px;
    /* alto de 1 frame */
    background-image: url("../assets/knight/IDLE.png");
    background-repeat: no-repeat;
    background-size: 672px 84px;
    transform: scale(3, 3) scaleX(-1);
    background-position: 0 0;
}

/* Clase idle */
#enemy-sprite.idle {
    animation: enemyIdleAnim 0.6s steps(7) infinite;
}

@keyframes enemyIdleAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}

/* Clase attack */
#enemy-sprite.attack {
    background-image: url("../assets/knight/ATTACK-3.png");
    animation: attackAnim 0.7s steps(6);
}

@keyframes attackAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}

/* Clase block */

#enemy-sprite.block {
    background-image: url("../assets/knight/DEFEND.png");
    animation:
        blockAnim 0.6s steps(6) infinite;
}

@keyframes blockAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -672px;
    }
}

/* Clase hurt */

#enemy-sprite.hurt {
    background-image: url("../assets/knight/HURT.png");
    animation: hurtAnim 0.5s steps(4) infinite;
    background-size: 384px 84px;
}

@keyframes hurtAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -384px;
    }
}

/*Clase death */

#enemy-sprite.death {
    background-image: url("../assets/knight/DEATH.png");
    animation: deathAnim 1s steps(11) forwards;
    background-size: 1152px 84px;
}

@keyframes deathAnim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1056px;
    }
}